<div class="container bg-dark my-5 pb-5">
  <h1 class="text-center pt-5 text-white">Victors</h1>
  <%= link_to 'New event', new_event_path, class:'links' %>
  <div id="carouselExampleControls" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h1 class="text-center text-white">ready?</h1>
      </div>
      <% @months_with_dates.each do |month_with_dates| %>
        <div class="carousel-item">
          <div class="jzdbox1 jzdbasf jzdcal">
            <div class="jzdcalt pt-3"><%= month_with_dates[:first_date].strftime("%B %Y") %></div>
              <div class="jzdcalt week">
                <span>Mo</span>
                <span>Di</span>
                <span>Mi</span>
                <span>Do</span>
                <span>Fr</span>
                <span>Sa</span>
                <span>So</span>
            <% num_first = month_with_dates[:first_date].wday - 1 %>
            <% num_first.times do |i|  %>
              <span class="jzdb col-lg-1"></span>
            <% end  %>
            <% counter = 1  %>
            <%  while counter <= month_with_dates[:num]  %>
              <span class="col-lg-1"><%= counter %></span>
              <%  counter += 1 %>
            <%  end  %>
            <% num_last = month_with_dates[:dates].last.wday %>
            <%# num_last.times do |i| %>
            <%# end  %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
